<!--
  Generated template for the CoinsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom no-padding color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>COINS</ion-title> -->
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-8 offset-2>
          <ion-segment [(ngModel)]="defaultCoinListView" (ionChange)="coinListViewChanged($event.value)" color="light" mode="ios">
            <ion-segment-button value="all">
              All
            </ion-segment-button>
            <ion-segment-button value="fav">
              Favorites
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons end>
      <button ion-button icon-only (click)="doToggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="doOpensettings()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary" *ngIf="showSearchBar">
    <ion-searchbar [(ngModel)]="searchQuery" (ionCancel)="onSearchCancel($event)" (ionInput)="doFilterCoins($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content no-padding #content>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="allowRefresh && coinsList.length">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="defaultCoinListView">
    <!-- all coins view -->
    <ion-list no-padding no-margin>
      <ion-item-divider class="coin-sortbar" color="light" no-margin no-padding>
        <ion-avatar item-start no-margin no-padding></ion-avatar>
        <button ion-button icon-end color="dark" clear small (click)="sortBy('rank', rankSortOrder)">
          Rank
          <ion-icon *ngIf="rankEnabled" [name]="rankSortOrder === 'asc' ? 'arrow-round-up' : 'arrow-round-down'"></ion-icon>
        </button>
        <button ion-button item-end icon-end color="dark" clear small (click)="sortBy('changePercent', percentSortOrder)">
          24hr Chg%
          <ion-icon *ngIf="!rankEnabled" [name]="percentSortOrder === 'asc' ? 'arrow-round-up' : 'arrow-round-down'"></ion-icon>
        </button>
      </ion-item-divider>
    </ion-list>
    <div *ngSwitchCase="'all'">
      <ion-list>
        <ion-item-sliding #slidingItem *ngFor="let coin of coinsList" (click)="onCoinListItemTap($event, coin)">
          <ion-item (click)="onCoinTap(coin.short)">
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-2>
                  <div class="icon-section">
                    <i class="cc {{coin.short | uppercase}}"></i>
                  </div>
                </ion-col>
                <ion-col col-8>
                  <h2>{{coin.long}} ({{coin.short}})</h2> 
                  {{coin.price | currency}}
                </ion-col>
                <ion-col col-2 padding-vertical>
                  {{coin.perc}}%
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="right" color="secondary">
            <button ion-button (click)="toggleFavorite(coin)" *ngIf="defaultCoinListView === 'all'" color="danger">
              <ion-icon color="light" [name]="isCoinInFavs(coin.short) ? 'md-heart' : 'md-heart-outline'"></ion-icon>
              <span>Favorites</span>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <!-- fav coins view -->
    <div *ngSwitchCase="'fav'">
      <ion-list>
        <ion-item-sliding #slidingFavItem *ngFor="let coin of favCoinsList" (click)="onCoinListItemTap($event, coin)">
          <ion-item>
            <ion-avatar item-start>
              <ion-icon class="cc {{coin.short}}"></ion-icon>
            </ion-avatar>
            <h2>{{coin.long}} ({{coin.short}})</h2>
            <span float-start>{{coin.price | currency}}</span>
            <span float-end>{{coin.perc}} (%24hr)</span>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button (click)="doRemoveFromFavorites(coin)" *ngIf="defaultCoinListView === 'fav'">
              <ion-icon name="heart" color="danger"></ion-icon>
              <span>Favorites</span>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
